<div class="book-wrapper">
  <%= render "shared/search" %>
  
  <%= render "shared/timeline" %>
  
  <div class="book-field" >
    <%= render partial: "shared/book", collection: @recommends %>
  </div>
</div>