<div class="book-wrapper">
    <%= render "shared/search" %>
    
    <%= render "shared/timeline" %>
    
    <div class="book-field">
      <%# <h1 class='title'>みんなの投稿</h1> %>
      <%= render partial: "shared/book", collection: @recommends %>
    </div>
  </div>