.user-lists{
  display: block;
  justify-content: center;
}

.user-list{
  margin: 0 auto;
  width: 1000px;
  background-color: #ffffff;
  /* width: calc(100% - 40px); */
  /* margin: 0 20px 0 20px; */
}

.list-title{
  background-color: #6a7b5e;
  color: #ffffff;
}

.list-detail{
  text-align: center;
}

/* ユーザー検索 */
.user-search-field{
  margin-left: 100px;
}
/* ユーザー検索 */

/* 学校登録画面 */
.school-registration{
  text-align: center;
}

.toppage-btn{
  padding-top: 40px;
}

/* 学校登録画面 */