.search{
  margin-top: 5px;
  padding: 20px 20px;
  /* border-bottom: solid 5px #f5f5f5; */
}
.search_form{
  display: flex;
  justify-content: space-around;
}

.search_field{
  margin-left: 100px;
  padding-left: 30px;
}

.search_book_form{
  width: 300px;
  height: 40px;
}
.search_user_form{
  width: 50px;
  height: 40px;
}

.search-btn{
  width: 80px;
  background: #6a7b5e;
  border: 1px solid #6a7b5e;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

